<h1>La Kamaraderie</h1>
<h3>Bilan de votre cours</h3>
<p>Vous pouvez dès à présent renseigner les bilans individuels des élèves de votre cours en vous rendant sur l'espace de votre cours : XXX</p>
<p>Nous vous rappelons aussi que, sauf modification de votre part, vous vous engagez à donner cours la semaine prochaine le <%=@cour.jour%> à <%=@cour.heure%>h., au <%=@cour.lieu%>.</p>
<p>Pour modifier l'horaire du cours, ou annuler le cours, rendez-vous l'espace de votre cours: XXX</p>

<p>Merci!</p>