<h1>La Kamaraderie</h1>
<h3>Rappel pour votre cours de demain</h3>
<p>Vous donnez cours de <%=@cour.matiere%> à <%=@cour.heure%>h.</p>
<p>L'adresse du cours que vous avez communiqué aux élèves est : <%=@cour.lieu%>.</p>
<p>Bon cours, et à demain !</p>