<h4>TopNote</h4>

<p>Bonjour <%=@teacher.infoteacher.first_name%>,</p>

<p>Nous vous rappelons que vous devez écrire un bilan personnel pour chaque élève sur son évolution et ce qu’il doit améliorer pour les cours suivants.

<p>Ce bilan ne fait pas office de notation, bien au contraire, il doit permettre aux élèves et s’épanouir et créer un synergie positive au sein du groupe.</p>

<p>Si vous avez des questions ou besoin d’aide, Margot, Ines, Arthur, ou Kevin se fera le plaisir de vous répondre dans la journée. <p>

<p>À très bientôt,</p>

<p>L’équipe de TopNote.</p>
