<p>Bonjour <%=@teacher.infoteacher.first_name%>,</p>

<p>Nous avons le plaisir de vous annoncer que votre profil a été validé et que vous pouvez désormais créer des annonces dans les matières que vous enseignez. </p>

<p> <%= link_to "Créer un cours.", {:controller =>"cours", :action=>"create"} %></p>


