<h4>Bonjour,</h4>

<p>Votre adresse mail est maintenant validée.</p>

<p>Pour terminer votre inscription, complétez les données manquantes <%= link_to "Ici", {:controller =>"pages", :action=>"monprofil"} %>.</p>




