<h4>La Kamaraderie</h4>

<p>Bonjour <%=@user.infouser.first_name%>,</p>

<p>Bilan de votre cours de <%= @cour.matiere%> du <%= @date %> : </p>
<p><%=@contenu%></p>

<p>À très bientôt !</p>

<p>L’équipe de La Kamaraderie.</p>