

<p style="color: #000000;">Bonjour <%=@user.infouser.first_name%>,</p>

<p style="color: #000000;">Bilan de votre cours de <%= @cour.matiere%> du <%= @date %> : </p>
<p style="color: #000000;"><%=@contenu%></p>

