<h4>TopNote</h4>

<p>Bonjour <%=@user.infouser.first_name%>,</p>

<p>Vous avez reçu un nouveau message de <%=@teacher.infoteacher.first_name%>.</p>
<p>Rendez-vous sur votre <%= link_to "espace personnel", {:controller =>"pages", :action=>"monprofil"} %>pour y répondre.</p>

<p>À très bientôt !</p>

<p>L’équipe de TopNote.</p>