

<p style="color: #000000;">Bonjour <%=@user.infouser.first_name%>,</p>

<p style="color: #000000;">Vous avez reçu un nouveau message de <%=@teacher.infoteacher.first_name%>.</p>
<p style="color: #000000;">Rendez-vous sur votre <%= link_to "espace personnel", {:controller =>"pages", :action=>"messages"} %>pour y répondre.</p>

