<h1>La Kamaraderie</h1>
<h3>Bilan de votre cours</h3>
<p>XXX</p>
<h3>Votre prochain cours</h3>
<p>Votre prochain cours aura lieu @cour.jour, à <%= @cour.heure %>h, au <%=@cour.lieu %>.</p>
<p>Si vous souhaitez indiquer votre absence ou annuler votre abonnement, rendez-vous sur votre espace personnel: XXX.</p>

<p>Merci, et à la semaine prochaine!</p>