<h4>La Kamaraderie</h4>

<p>Bonjour <%=@user.email%>,</p>

<p>Ton compte est maintenant créé, tu peux désormais accéder à ton tableau de bord et réserver ton premier cours.</p>

<p>Dans l’attente, nous t’invitons à prendre deux petites minutes pour découvrir ce qu’est La Kamaraderie, son histoire et ce que l’on a à t’offrir, <a href="http://www.lakamaraderie.fr/">ici</a>.</p>

<p>Si tu as des questions ou besoin d’aide, Margot, Ines, Arthur, Kevin ou l’un de nos Kamarades se fera le plaisir de te répondre dans la journée !</p>

<p>N’hésite pas à nous suivre sur <a href="https://www.facebook.com/lakamaraderie.fr/">Facebook</a> ou <a href="https://www.instagram.com/lakamaraderie.fr/">Instagram</a>, nous sommes très actifs et répondons à toutes vos questions sur l’orientation, l’actualité ou encore la préparation des examens !</p>

<p>À très bientôt !</p>

<p>L’équipe de La Kamaraderie.</p>