
<p style="color: #000000;">Bienvenue sur TopNote</p>

<p style="color: #000000;">Ton compte est maintenant créé, tu peux désormais accéder à ton tableau de bord et <a href="https://www.topnote.fr">réserver ton premier cours</a>.</p>



