<h4>Bonjour,</h4>

<p>Bienvenue sur TopNote</p>

<p>Ton compte est maintenant créé, tu peux désormais accéder à ton tableau de bord et <a href="https://www.topnote.fr">réserver ton premier cours</a>.</p>


<p>Si tu as des questions ou besoin d’aide, Margot, Ines, Arthur, Kevin ou l’un de nos Kamarades se fera le plaisir de te répondre dans la journée !</p>

<p>N’hésite pas à nous suivre sur <a href="https://www.facebook.com/topnote.fr/">Facebook</a> ou <a href="https://www.instagram.com/Topnote.fr/">Instagram</a>, nous sommes très actifs et répondons à toutes vos questions sur l’orientation, l’actualité ou encore la préparation des examens.</p>

<p>À très bientôt,</p>

<p>L’équipe de TopNote.</p>