<nav class="navbar navbar-expand-lg navbar-default navbar-light">

    <a class="navbar-brand" href="/cours/accueil">
      <%= image_tag "logo_blanc.png", alt:"Logo", width:"80", height:"30"%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <!-- Inscrire et se connecter -->
        <% if user_signed_in? %>
            <li class="nav-link mx-2"><a data-method="delete", href="/users/sign_out">Se déconnecter</a></li>
        <% elsif teacher_signed_in? %>
            <li class="nav-link mx-2"><a data-method="delete", href="/teachers/sign_out">Se déconnecter</a></li>
        <% else %>
            <li class="nav-link mx-2"><a href="/users/sign_up">S'inscrire</a></li>
            <li class="nav-link mx-2"><a href="/users/sign_in">Se connecter</a></li>
        <% end %>
        <!-- Espace administrateur si power ==2  -->
        <% if (teacher_signed_in? and current_teacher.role.power == 2) %>
            <li class="nav-item dropdown mx-2">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">Admin</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/candidates" style="color:black">Professeurs candidats</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/validated" style="color:black">Professeurs validés</a>
              </div>
            </li>
            <li class="nav-link mx-5"><a href="/cours/index">Index</a></li>
        <% end %>
        <!-- Mon espace si connecté et si différent d'admin -->
        <% if user_signed_in? %>
        <li class="nav-item dropdown mx-2">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">Mon espace</span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pages/monespace" style="color:black">Vos réservations</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/monprofil" style="color:black">Mon profil</a>
          </div>
        </li>
        <% elsif (teacher_signed_in? and current_teacher.role.power <2)%>
        <li class="nav-item dropdown mx-2">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">Mon espace</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pages/monespace" style="color:black">Vos cours</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/monprofil" style="color:black" >Mon profil</a>
          </div>
        </li>
        <% end %>
      </ul>
      <!-- Index pour admin et Proposer un cours -->
      <ul class="navbar-nav navbar-right">
        
        <li class="nav-link"><a href="/cours/create"><i class="fa fa-plus"></i> Proposer un cours</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>