<%= render partial: "shared/sousmenu", locals: {tabname:"mescours"}  %>
<!-- Espace Eleves-->

<% if user_signed_in? %>
	
	<!-- Nouveau design !!!! -->

	<%@inscriptions.each do |inscription| %>

			<div class="row justify-content-center">

				<div class="col-12 col-lg-8 mb-2" style="background-color: #F2F2F2">
					<%= render partial:"annonce", locals:{cours:inscription.cour}%>
				</div>

			</div>
	<% end %>


<!-- Espace Prof -->

<% elsif teacher_signed_in? %>
	
	<div class="row justify-content-center mt-4">
		<div class="col-12 col-lg-8">
	<% if current_teacher.role.power == 0 %>

		<p>Vous pourrez créer des cours dès lors que nous aurons validé votre profil. Cela peut prendre jusqu'à 48h. </p>

	<% elsif @cours_proposes.length < 1 %>
		<div class="row justify-content-center">
			<p>Vous n'avez pas encore créé d'annonces.</p>
			<p>
				<a class="btn btn-primary" href="cours/create" role="button">Créer un cours</a>
			</p>
		</div>

	<% else %>

		<%@cours_proposes.each do |cour| %>

			<div class="row justify-content-center">

				<div class="col-12 mb-2" style="background-color: #F2F2F2">
					<%= render partial:"annonce", locals:{cours:cour}%>
				</div>

			</div>

		<% end %>

	<% end %>

		</div>
	</div>

<% end %>