
<div class="row jacket" style="min-height: 580px">
	<div class="col-12" id="opacity">
		<div class="d-flex flex-column justify-content-around" style="min-height:100%" >
			<div class="row justify-content-center mt-5">
			    <div class="col-10 jacket-title" style="text-align: left">
			    	<br/>
			    	<br/>
			    	<br/>
			    	<br/>
			        Le soutien scolaire en petit groupe de 3 près de chez vous.
			    </div>
			    <div class="col-10 jacket-text" style="text-align:left">
			        Profitez d'une dynamique de groupe et de prix plus attractifs !
			    </div>
			</div>
		    <div class="col-12">
			    <div class="row justify-content-center"> 
			    	<div class="col-10">
						<%=form_tag "/cours/accueil", method:"post" do %>
							<div class="form-row justify-content-center">
								<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option value="" disabled selected>Quelle matière ?</option>
									<option value="mathematiques">Mathématiques</option>
									<option value="francais">Français</option>
									<option value="anglais">Anglais</option>
									<option value="espagnol">Espagnol</option>
								</select>
								<select name="classe" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option disabled selected>Quelle classe ?</option>
									<optgroup label="Collège">
										<option value="1">6ème</option>
										<option value="2">5ème</option>
										<option value="3">4ème</option>
										<option value="4">3ème</option>
									</optgroup>
									<optgroup label="Lycée">
										<option value="5">2nde</option>
										<option value="6">1ère S</option>
										<option value="7">1ère ES</option>
										<option value="8">1ère L</option>
										<option value="9">Terminale S</option>	
										<option value="10">Terminale ES</option>
										<option value="11">Terminale L</option>
									</optgroup>
								</select>
								<!-- Google Maps javascript API -->
								<input id="lieu" name="lieu" type="text" 
			                 	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." style="height:50px; line-height:30px; border-radius: 5px">
				                <div>
				                  <input id="latitude" name="latitude" type="hidden">
				                  <input id="longitude" name="longitude" type="hidden">
				                </div>
								<!-- Fin de Google Maps Javascript API -->
								<input type="submit" class="col-12 col-lg-2 form-search-btn m-2" style="height:50px; line-height:30px; border-radius: 5px" value="Chercher">
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	



<!-- Simple comme bonjour de moi -->
<div class="row justify-content-center mt-3">
	<div class="col-10 justify-content-center">
		<p class="jacket-text title-simple">Simple comme bonjour</p>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-3 justify-content-center">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-clone" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Trouve</h5>
                <div class="text-center">Le cours que tu veux suivre selon ton adresse, ton année d’étude et la matière que tu
souhaites apprendre.</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-thumbs-up" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                 <h5 class="text-center">Participe</h5>
                <div class="text-center">À un cours près de chez toi, avec le professeur qui te correspond.
</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-hand-peace-o" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Recommence</h5>
                <div class="text-center">Une fois, ou autant qu’il te plaira.</div>
			</div>
		</div>
	</div>
</div>

<!-- Une offre sur mesure de moi -->
<div class="row justify-content-center">
	<div class="col-11 ">

		<div class="row justify-content-center mt-5">
			<div class="col-12 col-lg-6">
				<%= image_tag "Lakamaraderie_sur_mesure.png", :class=>"img-fluid"%>
			</div>
			<div class="col-12 col-lg-6">
				<h3 style="color:#e55966">Un service sur mesure</h3>
				<p>La Kamaraderie est ouverte à l’ensemble des collégiens et lycéens afin de les aider à
atteindre leurs objectifs, et plus encore !</p>
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-12">
								<h4>Le succès scolaire</h4>
							</div>
							<div class="col-12">
								<p>Un enfant en difficulté est un enfant ayant perdu confiance en lui/elle. Fréquenter des élèves qui lui ressemblent, sous la guidance d’un(e) professeur(e) compétent(e) et investi(e) lui permettra d’exprimer son potentiel.
								</p>
							</div>
							<div class="col-12">
								<h4>Révision d'examens</h4>
							</div>
							<div class="col-12">
								<p>Grace à nos programmes spéciaux, mettez votre enfant dans les meilleures conditions pour réussir ses examens. Brevet, BAC, BTS, toutes les échéances seront abordées avec sérénité.
								</p>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							<div class="col-12">
								<h4>Approfondissement des cours</h4>
							</div>
							<div class="col-12">
								<p>Intégrer une prépa ou une grande école nécessite un dossier solide. Nous proposons ainsi des cours d’approfondissement des thèmes abordés en classe afin d’assurer les meilleurs résultats possibles.</p>
							</div>
							<div class="col-12">
								<h4>Préparation aux concours</h4>
							</div>
							<div class="col-12">
								<p>Nos professeurs guideront vos enfants dans la préparation des concours de grandes écoles (Science-Po, Médecine, Écoles de commerce…). Après tout, ils sont passés par là.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Esprit de la Kamaraderie -->

<div class="row justify-content-center mt-5">
	<div class="col-12">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h3 style="color:#e55966">L'esprit de La Kamaraderie c'est, </h3>
				<h3 style="color:gray">Partager aussi bien la qualité que le coût.</h3>
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="row">
							<div class="col-6">
								<div class="col-12">
									<h4>L'union fait la force</h4>
								</div>
								<div class="col-12">
									<p>Réunir 3 élèves de même niveau ayant des objectifs similaires créé une émulation collective qui permettra à chacun de progresser, et de reprendre le goût d’apprendre.</p>
								</div>
							</div>
							<div class="col-6">
								<div class="col-12">
									<h4>Un enseignement de qualité</h4>
								</div>
								<div class="col-12">
									<p>Réunir 3 élèves de même niveau ayant des objectifs similaires créé une émulation collective qui permettra à chacun de progresser, et de reprendre le goût d’apprendre.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-10">
						<div class="col-12">
							<h4>Des prix défiants toutes concurrences</h4>
						</div>
						<div class="col-12">
							<p>Pour que le soutien scolaire soit financièrement envisageable pour un plus grand nombre, nous proposons les formules suivantes :</br>
							Collège: 15€/h </br>
							Lycée: 15€/h </br>
							Concours: 18€/h</p>
							<p>Les prix que nous proposons sont fixes. Ils ne varient pas selon le nombre d’élèves inscrits dans le groupe.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<%= image_tag "la_kamaraderie_site_valeurs.jpg", :class=>"img-fluid"%>
			</div>
		</div>
	</div>
</div>
