
<div class="row jacket pb-4" style="min-height: 500px">
	<div class="col-12" id="opacity">
		<div class="d-flex flex-column justify-content-around" style="min-height:100%" >
			<div class="row justify-content-center mt-5">
			    <div class="col-10 jacket-title">
			        Le soutien scolaire en petit groupe de 3 près de chez vous.
			    </div>
			    <div class="col-10 jacket-text">
			        Profitez s'un dynamique de groupe et de prix plus attractifs !
			    </div>
			</div>
		    <div class="col-12">
			    <div class="row justify-content-center"> 
			    	<div class="col-10">
						<%=form_tag "/cours/accueil", method:"post" do %>
							<div class="form-row justify-content-center">
								<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option value="" disabled selected>Quelle matière ?</option>
									<option value="mathematiques">Mathématiques</option>
									<option value="francais">Français</option>
									<option value="anglais">Anglais</option>
									<option value="espagnol">Espagnol</option>
								</select>
								<select name="classe" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option disabled selected>Quelle classe ?</option>
									<optgroup label="Collège">
										<option value="1">6ème</option>
										<option value="2">5ème</option>
										<option value="3">4ème</option>
										<option value="4">3ème</option>
									</optgroup>
									<optgroup label="Lycée">
										<option value="5">2nde</option>
										<option value="6">1ère S</option>
										<option value="7">1ère ES</option>
										<option value="8">1ère L</option>
										<option value="9">Terminale S</option>	
										<option value="10">Terminale ES</option>
										<option value="11">Terminale L</option>
									</optgroup>
								</select>
								<!-- Google Maps javascript API -->
								<input id="lieu" name="lieu" type="text" 
			                 	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." style="height:50px; line-height:30px; border-radius: 5px">
				                <div>
				                  <input id="latitude" name="latitude" type="hidden">
				                  <input id="longitude" name="longitude" type="hidden">
				                </div>
								<!-- Fin de Google Maps Javascript API -->
								<input type="submit" class="col-12 col-lg-2 form-search-btn m-2" style="height:50px; line-height:30px; border-radius: 5px" value="Chercher">
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	



<!-- Simple comme bonjour de moi -->
<div class="row justify-content-center mt-3">
	<div class="col-10 justify-content-center">
		<p class="jacket-text title-simple">Simple comme bonjour</p>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-3 justify-content-center">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-clone" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Recherche</h5>
                <div class="text-center">... Un cours en remplissant ton lieu d'habitation, ton année d'étude, et la matière que tu souhaites apprendre.</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-thumbs-up" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                 <h5 class="text-center">Réserve</h5>
                <div class="text-center">... une place parmi les cours ayant lieu à coté de chez toi et avec le professeur qui te correspond.</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<i class="fa fa-hand-peace-o" style="font-size:3em"></i>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Recommence</h5>
                <div class="text-center">... avec tes nouveaux camarades jusqu'à ce que tu te sentes parfaitement prêt.</div>
			</div>
		</div>
	</div>
</div>










<!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCmOpoeHGn3B-LSaL4_1LngRYrg9uR0IGE"></script>

    <script type="text/javascript">
      function initializeAutocomplete(id) {
        var element = document.getElementById(id);
        if (element) {
          var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
          autocomplete.setComponentRestrictions(
            {'country': ['fr']});
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
      }

      function onPlaceChanged() {
        var place = this.getPlace();
        var lat = document.getElementById("latitude");
        lat.value = place.geometry.location.lat();
        var long = document.getElementById("longitude");
        long.value = place.geometry.location.lng();
        // console.log(place);  // Uncomment this line to view the full object returned by Google API.
        for (var i in place.address_components) {
          var component = place.address_components[i];
          for (var j in component.types) {  // Some types are ["country", "political"]
            var type_element = document.getElementById(component.types[j]);
            if (type_element) {
              type_element.value = component.long_name;
            }
          }
        }
      }




      google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('lieu');
      });
    </script>



