
<div class="row justify-content-center mt-3">
	<div class="col-sm-7">
		<%=form_tag "/cours/create", method:"post" do %>
	<fieldset>
		<legend class="mb-5"> Créez votre annonce </legend>
		<div class="form-group">
			<p style="background-color: #eeeeee" > Quelle matière souhaitez-vous enseigner? </p>
			<select name="matiere" class="form-control" required>
				<option value="mathematiques"> Mathématiques </option>
				<option value="francais"> Français </option>
				<option value="anglais"> Anglais </option>
				<option value="espagnol"> Espagnol </option>
			</select>
		</div>
		<p style="background-color: #eeeeee">Cochez les niveaux que vous pouvez enseigner</p>
		<div class="row justify-content-center">
			<div class="col-sm-4">
				<div class="form-check ">
				  	<input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox1" value="1">
				  	<label class="form-check-label" for="inlineCheckbox1">6ème</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox2" value="2">
				  <label class="form-check-label" for="inlineCheckbox2">5ème</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox3" value="3">
				  <label class="form-check-label" for="inlineCheckbox3">4ème</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox4" value="4">
				  <label class="form-check-label" for="inlineCheckbox4">3ème</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox6" value="5">
				  <label class="form-check-label" for="inlineCheckbox6">2nde</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox7" value="6">
				  <label class="form-check-label" for="inlineCheckbox7">1ère S</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox8" value="7">
				  <label class="form-check-label" for="inlineCheckbox8">1ère ES</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox9" value="8">
				  <label class="form-check-label" for="inlineCheckbox9">1ère L</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox10" value="9">
				  <label class="form-check-label" for="inlineCheckbox10">Terminale S</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox11" value="10">
				  <label class="form-check-label" for="inlineCheckbox11">Terminale ES</label>
				</div>
				<div class="form-check ">
				  <input class="form-check-input" name="classe[]" type="checkbox" id="inlineCheckbox12" value="11">
				  <label class="form-check-label" for="inlineCheckbox12">Terminale L</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-check ">
				  <input class="form-check-input" checked name="classe[]" type="checkbox" id="inlineCheckbox9" value="13">
				  <label class="form-check-label" for="inlineCheckbox13">Tous les niveaux</label>
				</div>
			</div>

		</div>
		<br/>
		<!--
		<div class="form-group">
			<label for="jour"> Quel jour seriez-vous disponible ? </label>
			<select name="jour" class="form-control" required="">
				<option>lundi</option>
				<option>mardi</option>
				<option>mercredi</option>
				<option>jeudi</option>
				<option>vendredi</option>
				<option>samedi</option>
				<option>dimanche</option>
			</select>
		</div>
		-->
		<p style="background-color: #eeeeee">Vos disponibilités</p>
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">lundi</th>
					<th scope="col">mardi</th>
					<th scope="col">mercredi</th>
					<th scope="col">jeudi</th>
					<th scope="col">vendredi</th>
					<th scope="col">samedi</th>
					<th scope="col">dimanche</th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<th scope="row">9-10h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,9">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,9">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,9">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,9">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,9">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,9">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,9">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">10-11h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,10">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,10">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,10">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,10">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,10">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,10">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,10">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">11-12h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,11">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,11">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,11">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,11">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,11">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,11">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,11">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">12-13h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,12">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,12">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,12">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,12">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,12">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,12">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,12">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">13-14h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,13">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,13">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,13">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,13">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,13">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,13">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,13">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">14-15h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,14">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,14">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,14">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,14">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,14">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,14">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,14">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">15-16h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,15">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,15">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,15">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,15">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,15">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,15">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,15">&nbsp;
						</div>
					</th>
				</tr>
				<tr>	
					<th scope="row">16-17h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,16">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,16">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,16">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,16">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,16">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,16">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,16">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">17-18h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,17">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,17">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,17">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,17">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,17">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,17">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,17">&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">18-19h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,18">&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,18">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,18">&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,18"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,18"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,18"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value=dimanche,18]>&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">19-20h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,19"]>&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,19"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,19"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,19"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,19"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,19"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,19"]>&nbsp;
						</div>
					</th>
				</tr>
				<tr>
					<th scope="row">20-21h</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="lundi,20"]>&nbsp;
						</div>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mardi,20"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="mercredi,20"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="jeudi,20"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="vendredi,20"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="samedi,20"]>&nbsp;
						</div>
					</th>
					<th>
						<div class="form-check">
				  			<input class="form-check-input macheckbox" name="dispo[]" type="checkbox"" value="dimanche,20"]>&nbsp;
						</div>
					</th>
				</tr>
			</tbody>
		</table>

		<!-- Google Maps javascript API -->
				<div class="form-group">
					<label for="lieu" class="sr-only">Adresse ou quartier ?</label>
						<input id="lieu" name="lieu"
                     class="form-control" placeholder="Entrez votre adresse, 3 rue...">
				</div>
	            <div>
                  <input id="latitude" name="latitude" type="hidden">
                  <input id="longitude" name="longitude" type="hidden">
                </div>
		<!-- Fin de Google Maps Javascript API -->
	</fieldset>
	<input type="submit" class="btn col-3" value="Envoyez" style="background-color: #59e5d8; border: solid 1px black; font-weight: bold">
<%end%>

	</div>
</div>

