
	<%=form_tag "/cours/modifier", method:"post" do %>

	<div class="form-row justify-content-center mt-5">

		<div class="col-12">
		<h2>Date et horaire du prochain cours</h2>
		</div>
		<input type="text" name="datepicker" class="datepicker col-12 col-lg-3 form-search text-center m-2">

		<input type="text" name="timepicker" class="timepicker col-12 col-lg-3 form-search text-center m-2">

		<%= hidden_field_tag "id", params[:id] %>

		<button type="submit" name="modifier_ex" class="col-12 col-lg-2 form-search-btn m-2">Envoyer</button>

	</div>
	<div class="form-row justify-content-center">
		<div class="col-12">
		<h2>Jour et horaire de tous les cours restants</h2>
		</div>
		<select name="jour" class="col-12 col-lg-3 form-search text-center m-2" style="text-align-last: center">
			<option value="lundi">Lundi</option>
			<option value="mardi">Mardi</option>
			<option value="mercredi">Mercredi</option>
			<option value="jeudi">Jeudi</option>
			<option value="vendredi">Vendredi</option>
			<option value="samedi">Samedi</option>
			<option value="dimanche">Dimanche</option>
		</select>

		<input type="text" name="timepicker_def" class="timepicker col-12 col-lg-3 form-search text-center m-2">
		<button type="submit" name="modifier_def" class="col-12 col-lg-2 form-search-btn m-2">Envoyer</button>

		 <script type="text/javascript">
		 	$.extend($.fn.pickadate.defaults, {
			  monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
			  weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
			  today: '',
			  clear: '',
			  close: 'Fermer',
			  formatSubmit: 'yyyy-mm-dd',
			  firstDay: 1,
			  min: 1
			})

			$('.datepicker').pickadate({
				hiddenName:true
			})

			$.extend($.fn.pickatime.defaults, {
	  			clear: 'Effacer',
	  			interval: 60,
				min: [9,0],
	  			max: [20,0],
	  			format: 'H:i !h.',
	  			formatLabel: 'H:i',
	  			formatSubmit: 'H'

			})		

			$('.timepicker').pickatime({
				hiddenName:true
			})

		</script>
	<%end%>
</div>

