<html><head>
<meta name="Title" content="">
<meta name="Keywords" content="">
<meta http-equiv="Content-Type" content="text/html; charset=macintosh">
<meta name="Generator" content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:MingLiU;
	panose-1:2 2 5 9 0 0 0 0 0 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
h1
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-18.0pt;
	font-size:16.0pt;
	font-family:"Calibri Light";
	color:#2F5496;
	font-weight:normal;}
h2
	{margin-right:0cm;
	margin-left:0cm;
	font-size:18.0pt;
	font-family:"Times New Roman";
	font-weight:bold;}
h3
	{margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Calibri Light";
	color:#1F3763;
	font-weight:normal;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Calibri;
	font-weight:bold;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:12.0pt;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Calibri;
	font-weight:bold;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:24.0pt;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Calibri;}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:48.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:60.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:72.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:96.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Calibri;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Calibri;}
p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
	{margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:14.0pt;
	font-family:"Calibri Light";
	color:#2F5496;
	font-weight:bold;}
p.cguetape, li.cguetape, div.cguetape
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.Corps, li.Corps, div.Corps
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Helvetica;
	color:black;
	border:none;}
p.t-text--xl, li.t-text--xl, div.t-text--xl
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman";}
span.Heading2Char
	{font-family:"Times New Roman";
	font-weight:bold;}
span.Heading1Char
	{font-family:"Calibri Light";
	color:#2F5496;}
span.Heading3Char
	{font-family:"Calibri Light";
	color:#1F3763;}
.MsoChpDefault
	{font-family:Calibri;}
@page WordSection1
	{size:595.0pt 842.0pt;
	margin:70.85pt 70.85pt 70.85pt 70.85pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body vlink="#954F72" link="#0563C1" lang="EN-US" bgcolor="white" style="text-align: left; margin: 20px;">

<div class="WordSection1">

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><b><span lang="FR">Conditions générales d’utilisation :</span></b></p>

<p class="MsoNormal"><b><span lang="FR">&nbsp;</span></b></p>

<p class="MsoNormal"><b><span lang="FR">Date de mise à jour&nbsp;: 3 juin 2018</span></b></p>

<p class="MsoNormal"><b><span lang="FR">&nbsp;</span></b></p>

<p class="MsoNormal"><strong><span style="font-size:10.5pt;color:black;
background:transparent;font-weight:normal" lang="FR">Veuillez lire attentivement les
présentes Conditions de Service car elles contiennent des informations
importantes concernant vos droits, obligations et recours légaux. En accédant à
la Plateforme La Kamaraderie ou en l’utilisant, vous acceptez d’être lié par
les présentes Conditions de Service et de vous y conformer.</span></strong></p>

<p class="MsoTocHeading"><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Table
des matières</span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214340">1.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Mentions légales<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">2</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214341">2.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Lexique | Définition<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">2</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214342">3.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Objet&nbsp;:<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">3</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214343">4.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Champs d’application des
Conditions Générales<span style="color:windowtext;display:none;text-decoration:
none">. </span><span style="color:windowtext;display:none;text-decoration:none">3</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214344">5.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Disponibilité des
Conditions Générales<span style="color:windowtext;display:none;text-decoration:
none">. </span><span style="color:windowtext;display:none;text-decoration:none">3</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214345">6.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Modification des
Conditions Générales<span style="color:windowtext;display:none;text-decoration:
none">. </span><span style="color:windowtext;display:none;text-decoration:none">4</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214346">7.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Comment accéder aux
Services sur la plateforme de La Kamaraderie<span style="color:windowtext;
display:none;text-decoration:none">. </span><span style="color:windowtext;
display:none;text-decoration:none">4</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214347">8.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>L’abonnement<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">5</span></a></span></p>

<p class="MsoToc3"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214348">A.<span style="font-size:12.0pt;color:windowtext;
text-decoration:none">&nbsp;&nbsp;&nbsp; </span>Souscription aux abonnements<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">5</span></a></span></p>

<p class="MsoToc3"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214349">B.<span style="font-size:12.0pt;color:windowtext;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Conditions tarifaires<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">6</span></a></span></p>

<p class="MsoToc3"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214350">C.<span style="font-size:12.0pt;color:windowtext;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Condition de règlements<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">6</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214351">9.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp; </span>Modalités de paiement<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">7</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214352">10.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>En quoi
consistent les services&nbsp;?<span style="color:windowtext;display:none;
text-decoration:none">. </span><span style="color:windowtext;display:none;
text-decoration:none">7</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214353">11.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Comment
diffuser des annonces sur la plateforme de La Kamaraderie et y répondre ?<span style="color:windowtext;display:none;text-decoration:none">&nbsp; ………………………………………………………………………………………………………………………………</span><span style="color:windowtext;display:none;text-decoration:none">8</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214354">12.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Comment
échanger entre membres&nbsp;?<span style="color:windowtext;display:none;
text-decoration:none">. </span><span style="color:windowtext;display:none;
text-decoration:none">9</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214355">13.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Comment
notifier à La Kamaraderie un contenu ou un comportement inapproprié ?<span style="color:windowtext;display:none;text-decoration:none">&nbsp; …………………………………………………………………………………………………………………………….</span><span style="color:windowtext;display:none;text-decoration:none">10</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214356">14.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Obligations
déclaratives des familles et des professeurs employés<span style="color:windowtext;
display:none;text-decoration:none">. </span><span style="color:windowtext;
display:none;text-decoration:none">10</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214357">15.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Modalités de
paiement des Professeurs<span style="color:windowtext;display:none;text-decoration:
none">. </span><span style="color:windowtext;display:none;text-decoration:none">11</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214358">16.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Notation des
membres<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">12</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214359">17.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Accessibilité
des Services<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">12</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214360">18.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Données
personnelles<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">12</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214361">19.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Responsabilité<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">14</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214362">20.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Proprieté
intellectuelle<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">15</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214363">21.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Résiliation<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">15</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214364">22.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Divers<span style="color:windowtext;display:none;text-decoration:none">. </span><span style="color:windowtext;display:none;text-decoration:none">16</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214365">23.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Clause de
résolution amiable<span style="color:windowtext;display:none;text-decoration:
none">. </span><span style="color:windowtext;display:none;text-decoration:none">16</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214366">24.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Médiateur de
la Consommation et Règlement en Ligne des litiges de la Consommation<span style="color:windowtext;display:none;text-decoration:none">&nbsp; </span><span style="color:windowtext;display:none;text-decoration:none">17</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214367">25.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Loi
Applicable et Juridiction compétente<span style="color:windowtext;display:none;
text-decoration:none">. </span><span style="color:windowtext;display:none;
text-decoration:none">17</span></a></span></p>

<p class="MsoToc1"><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="#_Toc515214368">26.<span style="color:windowtext;font-weight:normal;
text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Service
Client<span style="color:windowtext;display:none;text-decoration:none"> </span><span style="color:windowtext;display:none;text-decoration:none">17</span></a></span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><b><span lang="FR">&nbsp;</span></b></p>

<h1><a name="_Toc515214340"><span lang="FR">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Mentions
légales</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="background:white"><span lang="FR">Les Services sont
exploités par la société La Kamaraderie, SAS à capital variable au capital
social de 1000 euros, immatriculée au Registre du Commerce et des Sociétés de
Paris sous le n° 839 141 249 00012, dont le siège social est situé 3 rue
Villaret de Joyeuse, 75017, Paris.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:1.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie peut être
contactée aux coordonnées suivantes :</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:1.0pt;
margin-left:0cm;background:white"><span lang="FR">Adresse postale : 3 rue
Villaret de Joyeuse, 75017, Paris.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:1.0pt;
margin-left:0cm;background:white"><span lang="FR">Adresse électronique :
contact@lakamaraderie.fr</span></p>

<h1 style="text-indent:0cm"><span style="font-family:&quot;Times New Roman&quot;" lang="FR">&nbsp;</span></h1>

<h1><a name="_Toc515214341"><span lang="FR">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Lexique |
Définition</span></a><span style="font-family:&quot;Times New Roman&quot;" lang="FR"> </span></h1>

<p class="MsoNormal"><span style="font-size:11.5pt;color:#333333" lang="FR">&nbsp;</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">La Kamaraderie&nbsp;</span></b><span lang="FR">:
dénomination commerciale de la société La Kamaraderie SAS. La Kamaraderie est
l’opérateur de sa place de marché.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">lakamaraderie.fr</span></b><span lang="FR"> :&nbsp;URL
générique du Site La Kamaraderie </span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Utilisateur</span></b><span lang="FR"> :&nbsp;toute
personne physique ou morale légalement responsable qui utilise le Site
lakamaraderie.fr dénommé « L’Utilisateur » ou « Vous ».</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Acheteur | Élève</span></b><span lang="FR"> :&nbsp;tout
consommateur, personne physique ou morale non professionnelle concluant un
contrat d’achat avec le Vendeur.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Vendeur | Professeur</span></b><span lang="FR">
:&nbsp;professionnel ayant adhéré aux services de La Kamaraderie Marketplace.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Partenaire</span></b><span lang="FR"> :&nbsp;tout
professionnel institutionnel ou Vendeur impliqué directement ou indirectement
dans l’activité commerciale de La Kamaraderie.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Produits</span></b><span lang="FR"> :&nbsp;services de
soutien scolaire en petit groupe au domicile du professeur.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Contrat d’achat</span></b><span lang="FR"> :&nbsp;commande
de Produits passée entre l’Acheteur et le Vendeur.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Site</span></b><span lang="FR"> :&nbsp;Site internet global
de La Kamaraderie référencé sous l’adresse lakamaraderie.fr ou ses extensions.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">La Kamaraderie Marketplace</span></b><span lang="FR">
:&nbsp;nom commercial utilisé par La Kamaraderie pour sa place de marché ayant
pour objet l’achat/vente de Produits, et de mise en relation entre les
Professeurs et des Élèves.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Compte</span></b><span lang="FR"> :&nbsp;espace personnel
créé sur La Kamaraderie Marketplace par une personne physique ayant lu et
accepté les présentes Conditions Générales d’Utilisation.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Espace Personnel</span></b><span lang="FR"> :&nbsp;espace
individuel sécurisé de gestion personnelle d’utilisation du Site par tout
Utilisateur (« Vous ») ayant créé un compte valide sur lakamaraderie.fr.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">E-wallet</span></b><span lang="FR"> :&nbsp;portefeuille
électronique généré suite à la création d’un Compte pour toute opération
financière effectuée sur La Kamaraderie Marketplace.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Emetteur</span></b><span lang="FR"> :&nbsp;prestataire de
paiement sécurisé. Stripe.</span></p>

<p style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm"><b><span lang="FR">Distributeur</span></b><span lang="FR"> :&nbsp;terme employé
par Stripe pour désigner La Kamaraderie.</span></p>

<h1><a name="_Toc515214342"><span lang="FR">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Objet&nbsp;:</span></a></h1>

<p class="MsoNormal"><b><span lang="FR">&nbsp;</span></b></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
met à disposition une plateforme de mise en relation sur un site internet
accessible à l’adresse <a href="http://www.lakamaraderie.fr"><span style="color:windowtext;text-decoration:none">www.lakamaraderie.fr</span></a>.
Cette plateforme est destinée à mettre en relation des élèves et des
professeurs pour des cours de soutien scolaire en petit groupe de trois chez le
professeur afin de permettre aux familles des élèves de mutualiser leurs coûts.
</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les présentes conditions
générales d’utilisation encadrent l’accès et les modalités d’utilisation de la
Plateforme. Nous vous invitons à en prendre minutieusement connaissance. </span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Vous comprenez et reconnaissez
que La Kamaraderie n’est partie à aucun accord, contrat ou relation
contractuelle, de quelque nature que ce soit, conclu entre les Membres de sa
Plateforme, à savoir les Élèves et les Professeurs.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Par conséquent, la société La
Kamaraderie ne saurait être assimilé à l’employeur des professeurs. </span></p>

<h1><a name="_Toc515214343"><span lang="FR">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Champs
d’application des Conditions Générales</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les présentes Conditions
Générales ne régissent pas la conclusion ou l’exécution du contrat de travail,
conclu directement entre les élèves et les professeurs, mais encadrent
exclusivement l’utilisation des Services par les membres et notamment la
souscription aux Abonnements.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les présentes Conditions
Générales constituent les seuls documents contractuels qui régissent les
relations contractuelles entre la société La Kamaraderie et ses Membres (élèves
et professeurs), à l’exclusion de tout autre document.</span></p>

<h1><a name="_Toc515214344"><span lang="FR">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Disponibilité
des Conditions Générales</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Conditions Générales sont à
tout moment disponible sur le site de la société La Kamaraderie SAS où elles
sont directement consultables, téléchargeables et imprimables.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre reconnaît en
finalisant son inscription avoir eu connaissance des Conditions Générales, les
avoir comprises et les acceptées sans réserve de façon irrévocable et
définitive avant d’utiliser pleinement les Services et de souscrire, le cas
échéant, à un Abonnement.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’adhésion à un Abonnement vaut
adhésion pleine et entière aux Conditions Générales en vigueur au jour de
l’adhésion.</span></p>

<h1><a name="_Toc515214345"><span lang="FR">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Modification
des Conditions Générales</span></a></h1>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie se
réserve le droit de modifier ses Conditions Générales à tout moment.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En cas de modifications,
demeureront applicables les Conditions Générales en vigueur au moment de la
souscription à l’Abonnement.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les présentes Conditions
Générales entrent en vigueur à la date indiquée en entête des présentes et
s’appliqueront à tout contrat de souscription d’Abonnement conclu à compter de
cette date.</span></p>

<h1><a name="_Toc515214346"><span lang="FR">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Comment
accéder aux Services sur la plateforme de La Kamaraderie</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’Accès aux Services de mise en
relation de la société La Kamaraderie est réservé aux Membres inscrits sur la
plateforme, titulaire d’un espace personnel.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’utilisation des services
nécessite l’inscription préalable du Membre sur la plateforme lakamaraderie.fr
et la création d’un compte en ligne.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’inscription peut être
effectuée par toute personne physique, jouissant de son entière capacité
juridique pour s’engager au titre des présentes, disposant de papiers
d’identité conformes à la réglementation française.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’inscription nécessite une
connexion Internet. Le coût de la connexion Internet auprès d’un opérateur
reste à la charge et sous la responsabilité du Membre.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Nous distinguons deux types de
Membres sur lakamaraderie.fr, les élèves ou familles des élèves, et les
professeurs. Ils sont soumis à un processus d’inscription différent.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Pour les élèves, l’inscription
se fait, sur la plateforme lakamaraderie.fr, à travers le processus
d’inscription suivant&nbsp;et nécessite : </span></p>

<ol start="1" type="I">
 <li class="MsoNormal"><span lang="FR">l’acceptation par le Membre des Conditions
     Générales&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">le renseignement de l’ensemble des champs
     obligatoires marqués d’un astérisque (*) dans le formulaire d’inscription
     en ligne.</span></li>
 <li class="MsoNormal"><span lang="FR">de la vérification de la véracité de son
     adresse mail&nbsp;à l’aide d’un lien de validation ;</span></li>
</ol>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Pour les professeurs,
l’inscription se fait, sur la plateforme lakamaraderie.fr, à travers le
processus d’inscription suivant&nbsp;et nécessite : </span></p>

<ol start="1" type="I">
 <li class="MsoNormal"><span lang="FR">l’acceptation par le Membre des Conditions
     Générales&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">le renseignement de l’ensemble des champs
     obligatoires marqués d’un astérisque (*) dans le formulaire d’inscription
     en ligne.</span></li>
 <li class="MsoNormal"><span lang="FR">de la vérification de la véracité de son
     adresse mail&nbsp;à l’aide d’un lien de validation ;</span></li>
 <li class="MsoNormal"><span lang="FR">la validation du compte par lakamaraderie.fr</span></li>
</ol>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Si le Membre n’accepte pas les
Conditions Générales, et/ou ne renseigne pas l’ensemble des champs
obligatoires, il ne pourra pas s’inscrire sur la plateforme La Kamaraderie et
utiliser les Services.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre certifie que
l’ensemble des données qu’il communique sont véridiques, précises, complètes et
correctes. La confiance étant de mise, toute information personnelle fantaisiste,
fausse ou incomplète est susceptible d’entraîner la fermeture du compte. La
Kamaraderie se réserve le droit de demander au Membre de communiquer à tout
moment des éléments permettant de justifier son identité et les informations
transmises sur lakamaraderie.fr. Le Membre certifie en particulier qu’il
dispose de papiers d’identité et qu’il est en situation régulière sur le
territoire français. Le Membre peut à tout moment accéder à la rubrique « Mon Espace
» pour modifier les informations le concernant.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre s’engage à maintenir
la confidentialité de l’identifiant et du mot de passe permettant l’accès à son
compte et aux Services sur la plateforme La Kamaraderie. Il est responsable de
l’ensemble des actions effectuées au moyen de ses identifiants et mot de passe
sur lakamaraderie.fr.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Chaque Membre ne peut avoir
qu’un seul compte, qui lui est personnel et qui ne peut être cédé ou transféré
de quelque manière que ce soit.</span></p>

<h1><a name="_Toc515214347"><span lang="FR">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">L’abonnement</span></a></h1>

<h3><span style="font-family:&quot;Times New Roman&quot;" lang="FR">&nbsp;</span></h3>

<h3 style="margin-left:36.0pt;text-indent:-18.0pt"><a name="_Toc515214348"><span style="font-family:&quot;Times New Roman&quot;" lang="FR">A.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Souscription
aux abonnements</span></a></h3>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">La société La Kamaraderie permet, à travers sa
plateforme, la mise en relation entre des élèves et professeurs. </span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><b><span lang="FR">L’abonnement sans engagement&nbsp;:</span></b></p>

<p class="MsoNormal"><span lang="FR">Les professeurs proposent un groupe de travail
avec un lieu, une date, un horaire et une matière précise auquel les élèves
peuvent s’abonner. En s’inscrivant à un groupe de travail, les élèves s’y abonnent
sans engagement. C’est-à-dire qu’ils seront prélevés automatiquement chaque
semaine 24h avant que le cours ait lieu le montant du cours correspondant. </span></p>

<p class="MsoNormal"><span lang="FR">Premier cours direct</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><b><span lang="FR">Condition de désabonnement :</span></b><span lang="FR"> Les élèves sont libres de se désinscrire quand bon leur semble sans engager
de frais supplémentaires à condition de le faire au moins 24h avant le début du
cours. </span></p>

<p class="MsoNormal"><b><span lang="FR">Cumul d’abonnement&nbsp;: </span></b><span lang="FR">Les élèves peuvent cumuler autant d’abonnement à des groupes de travail
qu’ils le souhaitent tant que ces derniers ne se superposent pas temporellement
parlant.</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">L’Abonnement permet ainsi de suivre le cours
correspondant et d’accéder à l’espace collaboratif en ligne du groupe de
travail en question.</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Après validation du paiement,
les élèves pourront suivre leur(s) abonnements depuis la section Gérer mon
abonnement de l'onglet «&nbsp;Mon espace&nbsp;».</span></p>

<h3 style="margin-left:36.0pt;text-indent:-18.0pt"><a name="_Toc515214349"><span style="font-family:&quot;Times New Roman&quot;" lang="FR">B.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Conditions
tarifaires</span></a></h3>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">Les cours dispensés par les professeurs sont
d’une durée de 1h. Le tarif est le même pour les collégiens et lycéens. &nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">Tarif pour un cours d’1h pour un
collégien&nbsp;: 15 €&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">Tarif pour un cours d’1h pour un lycéen : 15
€&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les prix sont susceptibles
d’évoluer. Toutefois, la société La Kamaraderie garantit que le prix facturé
aux Membres sera le prix affiché lors de l’adhésion. Les modifications
tarifaires s’appliqueront à toute nouvelle adhésion aux Services proposés par
la société La Kamaraderie.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Toutefois, en cas de
reconduction tacite de l’Abonnement, les modifications tarifaires ne
deviendront effectives qu’à compter de la reconduction tacite postérieure à la
modification, sauf dénonciation dans les termes et modalités exposées.</span></p>

<h3 style="margin-left:36.0pt;text-indent:-18.0pt"><a name="_Toc515214350"><span style="font-family:&quot;Times New Roman&quot;" lang="FR">C.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Condition de
règlements</span></a></h3>

<h3><span style="font-family:&quot;Times New Roman&quot;" lang="FR">&nbsp;</span></h3>

<p class="MsoNormal"><span lang="FR">Le Membre est seul et unique employeur de ses
enseignants. Les enseignants-salariés ont au préalable mandaté La Kamaraderie
pour encaisser les salaires qui leur sont dues par les souscripteurs-employeurs.
Le souscripteur-employeur mandate quant à lui La Kamaraderie pour verser pour
son compte aux enseignants-salariés les salaires qui leur seront dus. Pour
remplir ces deux mandats de paiement, le souscripteur-employeur adresse à La
Kamaraderie l’ensemble des salaires à verser aux enseignants-salariés. </span></p>

<p class="MsoNormal"><span lang="FR">Pour ces deux mandats, La Kamaraderie se
rémunèrera à hauteur de 15% du montant payé par le souscripteur-employeur et
reversera 85% de ce même montant au professeur.</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<h1><a name="_Toc515214351"><span lang="FR">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Modalités de
paiement</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Services sont facturés aux
Parents directement par la société La Kamaraderie. Afin d’encaisser les
paiements, La Kamaraderie utilise les services de la société Stripe,
spécialisée dans les paiements sécurisés. En utilisant le système de paiement
Stripe proposé par La Kamaraderie, les Membres acceptent les Conditions
Générales de Stripe Payments Europe, Ltd disponibles disponibles ici :&nbsp;<a href="https://stripe.com/fr/legal"><span style="color:#212121">www.stripe.com/fr/legal</span></a></span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le paiement se fait exclusivement
par carte bancaire.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’engagement de payer donné au
moyen d’une carte de paiement est irrévocable. En communiquant ses informations
bancaires lors de son adhésion, les Parents autorisent la société La
Kamaraderie à débiter immédiatement leur carte bancaire du montant relatif au
prix indiqué. A cette fin, les Parents confirment qu’ils sont titulaires de la
carte bancaire à débiter et/ou qu’ils sont légalement en droit d’en faire
usage.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les informations transmises
sont chiffrées dans les règles de l’art et ne peuvent être lues au cours du
transport sur le réseau via une sécurité https. Une fois le paiement lancé par
le Client, la transaction est immédiatement débitée après vérification des
informations.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En cas d’erreur, ou
d’impossibilité de débiter la carte, l’adhésion à l’Abonnement est
immédiatement résolue de plein droit et la commande annulée.</span></p>

<h1><a name="_Toc515214352"><span lang="FR">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">En quoi
consistent les services&nbsp;?</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">A ce jour, la plateforme est un
outil de mise en relation permettant aux Membres d’organiser des cours de
soutien scolaire. La Kamaraderie n’intervient aucunement sur les Annonces et
sur les candidatures des Professeurs.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La qualité des Services dépend
du sérieux et de la qualité des Membres. Nous nous assurons que nos professeurs
partagent&nbsp;les mêmes valeurs que La Kamaraderie et de leur engagement à
travers un entretien téléphonique. La plateforme La Kamaraderie proposera un
système de notation permettant aux professeurs d’être triés et aux élèves de
choisir le professeur qui lui convient le plus.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Si La Kamaraderie ne propose
pas encore de services en ligne facilitant les échanges entre les Membres, tels
que des services de messagerie, La Kamaraderie offre une solution de paiement
en ligne des Professeurs par les Parents, tels que décrite à l’article 9.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie souhaite
toutefois se réserver la possibilité de faire évoluer ses Services afin de
répondre au mieux aux besoins des Membres. C’est pourquoi La Kamaraderie est susceptible
de modifier la liste de ses Services à tout moment et de modifier les
conditions tarifaires de certains Services. Si le Membre n’accepte pas les
Conditions Générales ainsi modifiées, il pourra résilier son compte et cesser
d’utiliser les Services de La Kamaraderie.</span></p>

<h1><a name="_Toc515214353"><span lang="FR">11.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Comment
diffuser des annonces sur la plateforme de La Kamaraderie et y répondre ?</span></a></h1>

<h2 style="margin:0cm;margin-bottom:.0001pt;background:white"><span style="color:#133475;font-weight:normal" lang="FR">&nbsp;</span></h2>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres peuvent créer,
publier et répondre à des Annonces sur l’Application La Kamaraderie, et
bénéficier d’autres fonctionnalités, en suivant les instructions sur la
plateforme La Kamaraderie.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres reconnaissent
qu’ils sont responsables des Contenus qu’ils mettent à la disposition des
autres Membres sur la plateforme La Kamaraderie et qui ne font l’objet d’aucun
contrôle a priori ou de modération par La Kamaraderie.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres s’engagent à
utiliser la plateforme La Kamaraderie et les Services conformément aux
stipulations des Conditions Générales.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Ainsi, chaque Membre s’interdit
tout comportement contraire à l’éthique, aux bonnes mœurs, et s’engage à
n’utiliser les Services proposés que conformément aux lois et règlements, à
l’ordre public et dans le respect des droits des tiers. Chaque Membre s’engage
ainsi à respecter les règles élémentaires de courtoisie et de civisme envers
les tiers. En particulier&nbsp;:</span></p>

<ul type="disc">
 <li class="MsoNormal"><span lang="FR">les Contenus et informations fournies par le
     Membre doivent être conformes à la réalité. Le Membre s’engage à ne pas
     usurper le nom ou la dénomination d’autres personnes physiques ou
     morales&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">le Membre doit s’exprimer courtoisement,
     poliment et aimablement («&nbsp;Bonjour&nbsp;», «&nbsp;Merci&nbsp;»,
     «&nbsp;S’il vous plaît&nbsp;»)&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">le Membre doit respecter les engagements
     pris vis-à-vis des autres Membres (respect des horaires, des lieux de
     rendez-vous, du prix convenu) et prévenir suffisamment en avance en cas de
     difficultés&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">le Membre s’engage à traiter de façon
     confidentielle les données des autres Membres (notamment nom, adresse,
     numéro de téléphone et adresse email) et à&nbsp; ne pas les mettre à&nbsp;
     disposition ou les communiquer à&nbsp; un tiers (y compris un autre
     Membre) sans l’accord préalable de leur titulaire.</span></li>
 <li class="MsoNormal"><span lang="FR">lors de chaque mise en ligne de Contenus, le
     Membre s’engage à ne pas diffuser de Contenu&nbsp;:</span></li>
 <ul type="circle">
  <li class="MsoNormal"><span lang="FR">contraire à l’ordre public ou aux bonnes
      mœurs&nbsp;;</span></li>
  <li class="MsoNormal"><span lang="FR">portant atteinte à la vie privée, à
      l’intimité de la vie privée ou au droit à l’image des personnes&nbsp;;</span></li>
  <li class="MsoNormal"><span lang="FR">à caractère violent ou pornographique,
      &nbsp;pédophile ou pouvant porter atteinte aux mineurs&nbsp;;</span></li>
  <li class="MsoNormal"><span lang="FR">menaçant une personne ou un groupe de
      personnes&nbsp;;</span></li>
  <li class="MsoNormal"><span lang="FR">à caractère diffamatoire ou injurieux,
      outrancier, mensonger ou calomnieux&nbsp;à l’égard de tiers, personne physique
      ou morale&nbsp;;</span></li>
  <li class="MsoNormal"><span lang="FR">à caractère raciste, xénophobe,
      négationniste ou portant atteinte à l’honneur ou à la réputation
      d’autrui, incitant à la discrimination, à la haine ou à la violence à
      l'égard d'une personne ou d'un groupe de personnes à raison de leur origine,
      de leur sexe, de leur situation de famille, de leur apparence physique,
      de leur patronyme, de leur état de santé, de leur handicap, de leurs
      caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle
      vraie ou supposée, de leur âge, de leurs opinions politiques, de leurs
      activités syndicales, de leur appartenance vraies ou supposée à une
      ethnie, une nation, une race, ou une religion déterminée ;</span></li>
  <li class="MsoNormal"><span lang="FR">pouvant constituer une apologie de crimes
      contre l’humanité ou de crimes de guerre, apologie du nazisme, apologie
      de crimes ou de délits, contestations de l'existence de crimes contre
      l'humanité ou de génocides reconnus, atteinte à la dignité de la personne
      humaine ;</span></li>
  <li class="MsoNormal"><span lang="FR">portant sur des activités illicites.</span></li>
 </ul>
</ul>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Chaque Membre s’engage aussi à
:</span></p>

<ul type="disc">
 <li class="MsoNormal"><span lang="FR">ne pas modifier, ajouter, supprimer de
     Contenus sauf dans les espaces spécifiquement réservés à cet effet et
     conformément aux stipulations du présent article. Tous les autres espaces
     de la plateforme La Kamaraderie sont strictement réservés à l’usage de La
     Kamaraderie ;</span></li>
 <li class="MsoNormal"><span lang="FR">ne pas intervenir sur la plateforme de La
     Kamaraderie, à l’aide de logiciels ou d’outils permettant notamment
     d’automatiser les requêtes sur la plateforme de La Kamaraderie et/ou
     d’extraire ou reproduire tout ou partie des éléments composant la plateforme
     de La Kamaraderie ou tout ou partie des résultats des requêtes, ou d’avoir
     une activité susceptible de perturber le fonctionnement de la plateforme
     de La Kamaraderie et/ou des Services&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">ne pas afficher, transmettre par email ou de
     toute autre manière des éléments contenant des publicités non sollicitées
     ou non autorisées («&nbsp;spam&nbsp;» ou toute autre sorte de
     sollicitation) ou utiliser la plateforme de La Kamaraderie et les Services
     à des fins de prospection commerciale, de publicité, de marketing et de ventes&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">ne pas utiliser la plateforme de La
     Kamaraderie et les Services de façon professionnelle (exception faite de
     la prestation de travail réalisée par les Professeurs pour le comptes des Élèves)
     ou commerciale&nbsp;;</span></li>
 <li class="MsoNormal"><span lang="FR">ne pas utiliser la plateforme de La Kamaraderie
     et les Services à des fins de racolage ou de prostitution.</span></li>
</ul>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres ont la possibilité
de retirer, à tout moment, les Contenus qu’ils ont diffusés sur la plateforme
de La Kamaraderie.</span></p>

<h1><a name="_Toc515214354"><span lang="FR">12.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Comment
échanger entre membres&nbsp;?</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La plateforme de La Kamaraderie
ne permet pas encore aux Membres d’échanger des messages au moyen d’un service
interne ou d’un service de messagerie instantanée.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie autorise dès
lors les Membres à prendre contact directement entre eux, par téléphone, afin
d’organiser les cours de soutien scolaire. Les Membres sont informés et
acceptent que leurs numéros de téléphone pourront être mis à la disposition des
autres Membres pour les seuls besoins des cours de soutien scolaire après
l’abonnement d’un élève au groupe de travail d’un professeur et conformément à
l’article 8<span style="color:black"> </span>des présentes conditions.</span></p>

<h1><a name="_Toc515214355"><span lang="FR">13.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Comment
notifier à La Kamaraderie un contenu ou un comportement inapproprié ?</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie attend de ses
Membres et chaque Membre attend des autres Membres un comportement exemplaire,
responsable et éthique, respectueux des lois et règlements en vigueur, afin de
garantir des Services de qualité.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie invite ainsi les
Membres à lui notifier tout Contenu manifestement illicite, contraire aux
termes de ces Conditions Générales ou aux dispositions légales et
réglementaires, sans délai, par email à <a href="mailto:contact@lakamaraderie.fr"><span style="color:#D61A71">contact@lakamaraderie.fr</span></a><span style="color:black">.</span><span style="color:#D61A71">&nbsp; </span>Le Membre
devra indiquer notamment ses nom, prénoms, profession, domicile, nationalité,
date et lieu de naissance et la description précise des faits litigieux. La
Kamaraderie fera ses meilleurs efforts pour suspendre ou retirer les Contenus
manifestement illicites ou fermer le compte du Membre indélicat.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En conséquence, les Membres
sont informés et acceptent que les Contenus qu’ils diffusent, leurs
comportements et leurs propos via les Services de La Kamaraderie soient
susceptibles de faire l'objet d'un signalement par d'autres Membres et d'un
contrôle par La Kamaraderie. Si La Kamaraderie considère que le signalement est
fondé, le Membre accepte que La Kamaraderie retire des Contenus publiés par le
Membre ou suspende ou résilie l’accès du Membre à son compte.</span></p>

<h1><a name="_Toc515214356"><span lang="FR">14.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Obligations
déclaratives des familles et des professeurs employés</span></a></h1>

<h2 style="margin:0cm;margin-bottom:.0001pt;background:white"><span style="color:#133475;font-weight:normal" lang="FR">&nbsp;</span></h2>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres Professeurs qui
utilisent les Services proposés sur la plateforme La Kamaraderie s’engagent à
respecter les obligations légales et fiscales portant sur l’emploi des services
à la personne. La Kamaraderie exclut toute responsabilité concernant le respect
par les Membres de leurs obligations légales et fiscales.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Parents sont informés qu’en
faisant appel aux services d’un Professeur, ils agissent comme des particuliers
employeurs. A ce titre, ils doivent déclarer le Professeur et les sommes qui
lui sont versées.<span style="background:yellow"> </span></span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le fait de déclarer les
Professeurs est obligatoire et important. Cela permet d’être couvert par les
assurances. Pour toute information complémentaire, les Membres peuvent
s’adresser à leur Centre des Finances publiques ou consulter le site&nbsp;<a href="http://www.impots.gouv.fr/"><span style="color:#212121">www.impots.gouv.fr</span></a>.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Professeurs doivent
également déclarer au titre de l’impôt sur le revenu les revenus perçus dans le
cadre de leur utilisation des Services de la plateforme de La Kamaraderie.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;background:white;vertical-align:
baseline"><span lang="FR">La plateforme de La Kamaraderie se doit de se conformer
au <b>droit de communication «&nbsp;non nominatif&nbsp;</b>». Ce dernier permet
d'interroger les acteurs d'Internet (plateformes, tiers de paiement, opérateurs
de fret express, etc.)&nbsp;sans connaître au préalable l'identité de la
personne ou des personnes concernées. Par exemple, il permet de demander à une
plateforme en ligne des informations sur «&nbsp;<i>les personnes ayant vendu un
bien X ou loué un bien Y au cours de de l'année 2018 et ayant perçu à ce titre
plus de 3&nbsp;000 euros</i>&nbsp;». La demande d'information peut ainsi porter
sur leurs ventes, leurs clients, leurs transactions ou encore leurs
fournisseurs etc.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;background:white;vertical-align:
baseline"><b><span lang="FR">Le décret n°&nbsp;2015-1091 du 28&nbsp;août 2015</span></b><span lang="FR">&nbsp;précise que les informations demandées doivent être précisées par
au moins l'un des critères de recherche suivants&nbsp;: situation
géographique&nbsp;; seuil exprimé en quantité, nombre, fréquence ou montant
financier&nbsp;; mode de paiement. La demande ne peut pas porter sur une
période de référence de plus de dix-huit mois, celle-ci pouvant être
éventuellement fractionnée.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;background:white;vertical-align:
baseline"><span lang="FR">Dans le cadre de cette loi, nous nous tenons de vous
informer que nous sommes obligés de fournir toutes les informations de paiement
concernant nos utilisateurs ayant été effectués sur notre plateforme.<br>
<br>
</span></p>

<h3><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Pour plus
d’informations, les Membres peuvent consulter notamment les sites&nbsp;<a href="http://www.cesu.urssaf.fr/"><span style="color:#D61A71">www.cesu.urssaf.fr</span></a></span><span class="MsoHyperlink"><span style="font-family:&quot;Times New Roman&quot;;
color:black;text-decoration:none" lang="FR">,</span></span><span class="MsoHyperlink"><span style="font-family:&quot;Times New Roman&quot;;color:#D61A71;text-decoration:
none" lang="FR">&nbsp;</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="http://www.pajemploi.urssaf.fr/"><span style="color:#D61A71">www.pajemploi.urssaf.fr</span></a></span><span class="MsoHyperlink"><span style="font-family:&quot;Times New Roman&quot;;
color:black;text-decoration:none" lang="FR">,&nbsp;</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><a href="http://www.service-public.fr/"><span style="color:#D61A71">www.service-public.fr</span></a></span><span class="MsoHyperlink"><span style="font-family:&quot;Times New Roman&quot;;
color:black;text-decoration:none" lang="FR">.</span></span></h3>

<h1><a name="_Toc515214357"><span lang="FR">15.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Modalités de
paiement des Professeurs</span></a></h1>

<h2 style="margin:0cm;margin-bottom:.0001pt;background:white"><span style="color:#133475;font-weight:normal" lang="FR">&nbsp;</span></h2>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Parents ne peuvent payer
les Professeurs que par la solution de paiement en ligne Stripe comme expliqué
dans l’article 9 des présentes conditions. La Kamaraderie ne sera pas tenue
pour responsable en cas de défaut de paiement d’un Professeur par un Parent.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie propose une
solution de paiement en ligne sécurisé. Le paiement s’effectue par carte
bancaire sur la base des informations communiquées à La Kamaraderie par les
Membres.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Lors du règlement par carte
bancaire, le Membre est redirigé vers les serveurs de paiement sécurisé de
Stripe. Afin de procéder au paiement, il sera demandé à chacun des Membres de
communiquer le numéro et la date d’expiration de sa carte bancaire ainsi que le
cryptogramme. L’enregistrement de la transaction est soumis à une demande
d’autorisation. Le Membre garantit qu’il est habilité à utiliser la carte de
paiement fournie pour le paiement de sa commande.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Dans le cas où le Membre y
consent expressément, les données de la carte bancaire du Membre seront
conservées de manière cryptée par Stripe pour faciliter les transactions
futures.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En contrepartie de ce Service
de paiement, La Kamaraderie s’engage à payer la commission due à Stripe. </span></p>

<h1><a name="_Toc515214358"><span lang="FR">16.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Notation des
membres</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Professeurs acceptent
expressément que leur comportement et leurs prestations fassent l’objet d’une
notation qui sera accessible aux autres Membres. La Kamaraderie attire
l’attention des Membres sur le fait qu’il ne s’agit aucunement de noter la
personne. La finalité de ces notations est d’assurer la qualité des Professeurs
et de préserver la confiance des Membres.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La notation consiste à
attribuer une note (de 1 à 10).</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Élèves doivent attribuer
une note aux professeurs lorsqu’ils mettent fin à leur abonnement à un groupe
de travail.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres ont également la
possibilité de laisser des commentaires qui devront être objectifs et conformes
aux Conditions Générales. Les Membres acceptent expressément que ces
commentaires soient diffusés sur la plateforme de La Kamaraderie et qu’ils
apparaissent comme en étant les auteurs.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La plateforme de La Kamaraderie
diffuse l'ensemble de ces notes données par les Membres ainsi que les
commentaires qui peuvent y être attachés.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie se réserve le
droit de résilier le compte du Membre ayant reçu une ou plusieurs notes égales
ou inférieures à 8.</span></p>

<h1><a name="_Toc515214359"><span lang="FR">17.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Accessibilité
des Services</span></a><span style="font-family:&quot;Times New Roman&quot;" lang="FR"><br>
<br>
</span></h1>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La plateforme est accessible
24h/24 et 7 jours/7.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
se réserve le droit, à tout moment, de :</span></p>

<ul type="disc">
 <li class="MsoNormal" style="background:white"><span lang="FR">interrompre
     momentanément l’accès à la plateforme aux fins de maintenance du site
     notamment&nbsp;;</span></li>
 <li class="MsoNormal" style="background:white"><span lang="FR">compléter ou
     modifier son offre de Services.</span></li>
</ul>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie
s’engage à faire ses meilleurs efforts pour remédier à tout dysfonctionnement
technique dans les meilleurs délais mais ne garantit pas le fonctionnement
ininterrompu et sans erreur de la plateforme en période de maintenance.</span></p>

<h1><a name="_Toc515214360"><span lang="FR">18.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Données
personnelles</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les données à caractère
personnel recueillies par la société La Kamaraderie SAS dans le cadre de ses
Services font l’objet d’un traitement automatisé suivant déclaration CNIL n°
1847709.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En utilisant la plateforme
lakamaraderie.fr et les Services, le Membre accepte que La Kamaraderie
collecte, traite et utilise ses informations personnelles (telles que nom,
prénom, adresse postale, adresse email et numéro de téléphone) dans le but (i)
de lui offrir les Services, (ii) de communiquer avec lui au sujet de son
compte, des Services et plus généralement des offres, (iii) d’établir des
statistiques non nominatives, (iv) de communiquer avec ses partenaires dans le
cadre des Services, (v) d’envoyer des newsletters après accord préalable du
Membre à cette fin.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre pourra changer d’avis
à tout moment et choisir de ne plus recevoir les newsletters. A cette fin, il
conviendra, d’adresser un courrier à l’adresse La Kamaraderie SAS, 3 rue
Villaret de Joyeuse, 75017, Paris, France ou de cliquer sur le lien de
désinscription figurant dans les courriels reçus.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Afin de permettre à ses
systèmes de reconnaître les terminaux et d’offrir certaines fonctionnalités, La
Kamaraderie utilise des cookies qui sont strictement nécessaires à la
fourniture des Services</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les cookies sont des fichiers
déposés sur l’appareil du Membre lors de sa navigation qui enregistrent des
données relatives à sa navigation sur la plateforme lakamaraderie.fr. Les
informations contenues dans ces cookies ne sont conservées que pour la durée
strictement nécessaire à leur finalité.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La rubrique Aide de la plupart
des navigateurs vous indique comment refuser ou désactiver les nouveaux
cookies.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La Kamaraderie attire
l’attention du Membre sur le fait que le refus ou la désactivation des cookies
le priveront de la possibilité d’utiliser les Services.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le traitement des données
personnelles des Membres est effectué sous la responsabilité de La Kamaraderie.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les données personnelles des
Membres ne seront pas conservées au-delà de la durée de conservation
strictement nécessaire à la gestion de la relation commerciale, à l’exception
de celles nécessaires à l’établissement de la preuve d’un droit ou d’un contrat
qui peuvent être archivés conformément aux dispositions du Code de commerce
relatives à la durée de conservation des livres et documents créés à l'occasion
d'activités commerciales et du Code de la consommation relatives à la
conservation des contrats conclus par voie électronique.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Conformément à la loi «
Informatique et Libertés » du 6 janvier 1978, chaque Membre dispose à tout
moment d’un droit d’accès, de rectification, de portabilité et d’opposition sur
les données personnelles le concernant.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Il peut exercer ces droits en
adressant un courrier à l’adresse suivante : La Kamaraderie SAS, 3 rue Villaret
de Joyeuse, 75017, Paris.</span></p>

<h1><a name="_Toc515214361"><span lang="FR">19.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Responsabilité</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">Contenus diffusés</span></b></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La plateforme lakamaraderie.fr
permet aux Membres d’utiliser les Services, de diffuser des Annonces et d’y
répondre. Chaque Membre est responsable des informations qu’il communique aux
autres Membres et à la société La Kamaraderie SAS via la plateforme lakamaraderie.fr.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie ne
saurait engager sa responsabilité du fait du contenu publié par les Membres et
de leur comportement.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En conséquence, chaque Membre
renonce à tout recours à l’encontre de La Kamaraderie, fondé notamment sur une
éventuelle atteinte à son droit à l’image, à sa vie privée, à sa réputation ou
à son honneur résultant de la diffusion d’informations le concernant et qu’il a
accepté librement de divulguer.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les Membres garantissent
également La Kamaraderie SAS contre toute demande, action ou réclamation de
tiers, pour quelque fondement que ce soit, relative aux Contenus diffusés par
le Membre via la plateforme lakamaraderie.fr.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">Rémunération - Prestations</span></b></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
est une plateforme de mise en relation et agit comme un simple intermédiaire.
Les Membres ne sont pas des employés ou des employeurs de la société La
Kamaraderie SAS.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">A ce titre, la société La
Kamaraderie SAS ne contrôle pas les Contenus diffusés par les Membres et
n’intervient pas dans les accords passés entre les Membres via la plateforme
lakamaraderie.fr.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
ne garantie pas :</span></p>

<ul type="disc">
 <li class="MsoNormal"><span lang="FR">que les prestations de services de cours de
     soutien scolaire seront effectivement réalisées ;</span></li>
 <li class="MsoNormal"><span lang="FR">la qualité des cours de soutien scolaire ;</span></li>
</ul>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">De même, la société La
Kamaraderie SAS ne peut voir sa responsabilité engagée pour tous accidents,
incidents ou dommages matériels ou immatériels subis par les Membres ou par un
tiers et qui pourraient survenir dans le cadre d’un cours de soutien scolaire convenue
entre des Membres.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Tout litige de quelque nature
que ce soit qui pourrait survenir entre les Membres ne pourra donner lieu à la
mise en jeu de la responsabilité de la société La Kamaraderie SAS, notamment en
ce compris, la violation des dispositions sociales et fiscales.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">Indisponibilité des services
– Maintenance</span></b></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
fera ses meilleurs efforts pour assurer la disponibilité des Services.
Toutefois, du fait de la nature d’Internet, ceci ne peut être garanti.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">L’accès à la plateforme
lakamaraderie.fr et aux Services peut être occasionnellement suspendu ou limité
pour des besoins de maintenance, ou pour ajouter une nouvelle fonctionnalité ou
un nouveau service. La Kamaraderie SAS s’efforcera de limiter la fréquence et
la durée de ces suspensions ou limitations.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie SAS
ne saurait être tenu pour responsable des éventuels dommages causés au
matériels ou données des Membres lors de leur connexion et l’utilisation du
réseau Internet à cause de problèmes liés notamment à des intrusions, virus ou
rupture de service.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Des liens vers des sites de
tiers peuvent être proposés sur la plateforme lakamaraderie.fr. La société La
Kamaraderie SAS ne contrôle pas le contenu de ces sites Internet de tiers et ne
saurait dès lors être responsable de ce fait.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Par ailleurs, il est
expressément exclu de la responsabilité de la société La Kamaraderie SAS,
l’indemnisation :</span></p>

<ul type="disc">
 <li class="MsoNormal"><span lang="FR">de dommages découlant de l’utilisation
     anormale du Service que ce soit par le fait des Membres ou d’un tiers ;</span></li>
 <li class="MsoNormal"><span lang="FR">des éventuels dommages directs et/ou
     indirects causés au Membre et/ou à tout tiers suite à l’utilisation, la
     gestion ou l’exploitation du Service hors des finalités ci-dessus
     décrites.</span></li>
</ul>

<h1><a name="_Toc515214362"><span lang="FR">20.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Proprieté
intellectuelle</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le contenu de la plateforme La
Kamaraderie (tel que notamment la base de données, les textes, logos, images,
charte graphique, marques) est la propriété de La Kamaraderie SAS, de ses
sociétés affiliées ou de ses fournisseurs de contenu et est protégé par le
droit français et international de la propriété intellectuelle. Il est interdit
d’extraire, de reproduire ou de réutiliser tout ou partie du contenu sans
l’autorisation expresse et écrite de La Kamaraderie SAS.</span></p>

<h1><a name="_Toc515214363"><span lang="FR">21.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Résiliation</span></a></h1>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le </span><span style="font-size:1.0pt;color:#212121" lang="FR">&nbsp;</span><span lang="FR">Membre peut
résilier son compte à tout moment en nous adressant un email à <u><span style="color:#D61A71">contact@lakamaraderie.fr</span></u>&nbsp;ou par courrier
postal à l’adresse La Kamaraderie SAS, 3 rue Villaret de Joyeuse, 75017, Paris.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie se
réserve le droit de résilier le compte d’un Membre, de plein droit, sans
préavis, sans formalité judiciaire et sans indemnités pour ledit Membre, par
courrier électronique ou par simple courrier postal notamment dans les cas
suivants :</span></p>

<ul type="disc">
 <li class="MsoNormal" style="background:white"><span lang="FR">utilisation des
     Services contraire à la loi, à l’ordre public et aux bonnes mœurs&nbsp;;</span></li>
 <li class="MsoNormal" style="background:white"><span lang="FR">acte affectant le
     fonctionnement des Services&nbsp;;</span></li>
 <li class="MsoNormal" style="background:white"><span lang="FR">perte, détournement
     ou utilisation non autorisée ou frauduleuse des identifiant et mot de
     passe&nbsp;;</span></li>
 <li class="MsoNormal" style="background:white"><span lang="FR">tout manquement à
     l’une de ses obligations au titre des Conditions Générales autres que
     celles listées ci-dessus.</span></li>
</ul>

<h1><a name="_Toc515214364"><span lang="FR">22.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Divers</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">22.1. Convention de preuve</span></b><span lang="FR"><br>
Le Membre accepte que toutes les correspondances et/ou communication et/ou
transmission d’information ayant lieu avec La Kamaraderie SAS par voie
électronique sont présumées avoir la même force probante qu’un écrit sur
support papier.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">22.2. Tolérance</span></b><span lang="FR"><br>
Le fait pour l’une des parties de ne pas se prévaloir d’un manquement par
l’autre partie à l’une quelconque des obligations visées dans les Conditions
Générales ne saurait être interprété comme une renonciation à l’obligation en
cause.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><b><span lang="FR">22.3. Nullité partielle</span></b><span lang="FR"><br>
Si l’une quelconque des stipulations des Conditions Générales s’avérait nulle
au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue
définitive, elle serait alors réputée non écrite, sans pour autant entraîner la
nullité du contrat ni altérer la validité de ses autres stipulations.</span></p>

<h1><a name="_Toc515214365"><span lang="FR">23.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Clause de
résolution amiable</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">En cas de contestation relative
aux Abonnements, aux Services et à l’exécution de ces Conditions Générales, La
Kamaraderie invite le Membre à l’en informer dès que possible en adressant :</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:36.0pt;text-indent:-18.0pt;background:white"><span style="font-size:10.0pt;font-family:Symbol" lang="FR">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang="FR">un courrier à l'adresse La Kamaraderie SAS, 3 rue
Villaret de Joyeuse, 75017, Paris ou</span></p>

<ul type="disc">
 <li class="MsoNormal" style="background:white"><span lang="FR">un email à&nbsp;<a href="mailto:hello@babysittor.com"><span style="color:#D61A71">contact@lakamaraderie.fr</span></a></span></li>
</ul>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">La société La Kamaraderie et le
Membre s’efforceront alors de rechercher ensemble une solution amiable. En cas
de réclamation et jusqu’à résolution du litige, La Kamaraderie pourra bloquer
le compte du Membre, si cela est nécessaire.</span></p>

<h1><a name="_Toc515214366"><span lang="FR">24.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Médiateur de
la Consommation et Règlement en Ligne des litiges de la Consommation</span></a></h1>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span style="font-size:1.0pt;
color:#212121" lang="FR">Conformément aux dispositions du Code de la consommation
relatives au règlement des litiges de la consommation, le Membre est informé
qu’en cas d’échec de la demande de réclamation formulée auprès de la société
BBS, ou en l’absence de réponse de cette dernière, il pourra soumettre
gratuitement son litige au médiateur de la consommation dont les coordonnées
sont ci-après énoncées :</span><span style="font-size:1.0pt;color:#212121" lang="FR"><br>
</span><span style="font-size:1.0pt;color:#212121" lang="FR">Angela ALBERT</span><span style="font-size:1.0pt;color:#212121" lang="FR"><br>
</span><span style="font-size:1.0pt;color:#212121" lang="FR">Association des
médiateurs Européens (AME)</span><span style="font-size:1.0pt;
color:#212121" lang="FR"><br>
</span><span lang="FR">197 Boulevard Saint Germain, 75007 Paris<br>
09.53.01.02.69<br>
<a href="http://www.mediationconso-ame.com/"><span style="color:windowtext;
text-decoration:none">www.mediationconso-ame.com</span></a></span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Un formulaire de demande de
médiation est à la disposition du Membre, sur le site du Médiateur de la
Consommation. Le Membre est libre d’accepter ou de refuser le recours à la
Médiation.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre acceptant le recours
à la Médiation, demeure également libre d’accepter ou de refuser la solution
proposée par le Médiateur de la Consommation.</span></p>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Le Membre est également
informé, qu’en cas de litige avec la société La Kamaraderie SAS, il a la
faculté de se rendre sur la plateforme européenne de règlement en ligne des
litiges de la consommation mise en place par la Commission Européenne et
accessible à l’adresse suivante :&nbsp;<a href="http://ec.europa.eu/"><span style="color:#D61A71">www.ec.europa.eu</span></a></span></p>

<h1><a name="_Toc515214367"><span lang="FR">25.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Loi
Applicable et Juridiction compétente</span></a></h1>

<h2 style="margin:0cm;margin-bottom:.0001pt;background:white"><span style="font-size:12.0pt;font-weight:normal" lang="FR">&nbsp;</span></h2>

<p class="t-text--xl" style="margin-top:0cm;margin-right:0cm;margin-bottom:15.0pt;
margin-left:0cm;background:white"><span lang="FR">Les présentes Conditions
Générales sont soumises au droit français. En l’absence d’accord amiable, les
litiges seront portés à la compétence exclusive des tribunaux compétents.</span></p>

<h1><a name="_Toc515214368"><span lang="FR">26.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-family:&quot;Times New Roman&quot;" lang="FR">Service
Client</span></a></h1>

<p class="MsoNormal"><span lang="FR"><br>
Pour toute question, information ou notification, la société La Kamaraderie met
à la disposition de ses Membres, un service client disponible sur son site
Internet et également joignable à l’adresse :&nbsp;<u><span style="color:#D61A71">contact@lakamaraderie.fr</span></u></span></p>

<p class="MsoNormal" style="background:white"><span lang="FR">&nbsp;</span></p>

<p class="MsoNormal"><span lang="FR">&nbsp;</span></p>

</div>




</body></html>