<p style="color: #000000;">Bienvenue dans la communauté de TopNote, </p>
<p style="color: #000000;">Nous vous invitons à cliquer sur le lien suivant pour valider la création de votre espace personnalisé :
</p>
<p style="color: #000000;"><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p style="color: #000000;">Pour créer votre première annonce, votre profil doit être complet et validé.</br> 
Une fois l'appel téléphonique réalisé, nous validerons votre compte afin que vous puissiez créer votre première annonce.
</p>


