
<p style="color: #000000;">Hello,</p>

<p style="color: #000000;">Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous :</p>

<p style="color: #e55966;"><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p style="color: #000000;">Si vous n'êtes pas à l'origine de cette demande, ignorez ce message.</p>
