/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require pickadate/default
*= require pickadate/default.date
*= require pickadate/default.time
*= require trix
*= require_tree .
*= require_self
 */

 
$theme-colors: (
  "primary": #e55966,
  "danger": #ff4136,
  "roseclair": rgb(252,98,112),
  "secondary": #59e5d8
);

@import "bootstrap";
@import "font-awesome";


$rose: #e55966;
$vert: #00e676;
$turquoise: #59e5d8;
$rouge: #ff1744;
$link-color: white;
$gris: #eeeeee;
$bleu: #4897D8;

$orange: #ffb750;

#grad {
  
  background-color:$orange;
}

.bg-rose {
    background-color: $rose;
}

.bg-rouge {
    background-color: $rouge;
} 

.bg-orange {
    background-color: $orange;
}

.bg-rose-clair {
    background-color: rgb(252,98,112);
}

.rose {
    color:$rose;
}

.bleu {
    background-color:$bleu
}

.turquoise{
    background-color:$turquoise;
}

#grad_rose {
    background-image: linear-gradient(to bottom, white , $rose);
}

.bg-gris {
    background-color:#F2F2F2;
}

.bg-blanc {
    background-color: white;
    
   
}

*{
	margin:0;
	padding:0;
}

body, html{
    display: block;
    position:absolute;
    height: 100%;
    width: 100%;
    margin:0;
}
body{
   	text-align: center;
   	padding-top:45px;
    color:#444A55;
    //font-family: 'Ubuntu', sans-serif;
}

section {
	min-height: 100%;
}
#main{
	min-height:100%;
	margin:0;
	position:relative;
	//background: #fff8e1;
}

#corps {
	padding-bottom:30px;	
}

#commentcamarche {
    background-image: image-url("commentcamarche.png");
    background-size: cover;
}

.text-accueil {
    font-size:1.1em;
}
// MENU

.navbar-default {
	background-color: $rose;
}

.give-lesson {
	background-color: white;
    border-radius:50px;
}


#bs-example-navbar-collapse-1 {
	ul li a {
	color:white;
	}
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  margin: -15px 0 0 -15px;
  opacity: 1;
}

// FORM SEARCH

.form-search{
    border: solid 1px $rose;
    color: $rose;
    min-height:50px;
    min-width:200px;
}


.form-search-btn {
    background-color:$orange;
    border:1px solid $orange; 
    color:#ffffff;
    cursor:pointer;
}

// PASTILLE

.thumbnail {
	border-radius: 50%;
}

.value_success {
	border-color: rgb(51, 204, 51);
	color: rgb(0,0,0);
}

.value_danger {
	border-color: rgb(255, 0, 0);
	color: rgb(0,0,0);
}

// FOOTER

#footer {
	background-color: $rose;
	ul li {
		display: inline;
		padding-left: 50px;
		a{
		color:white;
		}
	}
}

#devise_subcontent {
	 color: $rose ;
	 background-color: white;
	 border-radius:10px;
}

// ACCUEIL

#opacity {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) );
}



#gradient_rose {
    background: linear-gradient($rose, rgba(0, 0, 0, 0) );
}

.jacket{
    color:white;
    background-image: image-url("Adolescents.jpeg");
    background-size: cover;
}

.jacket-title{
    font-family: 'Roboto', sans-serif;
    font-size:3vw;
}

.jacket-title2{
    font-family: 'Roboto', sans-serif;
    font-size:1.7em;
}

.jacket-title3{
    font-family: 'Roboto', sans-serif;
    font-size:1.2em;
}

.jacket-title4{
    
    font-size:1.1em;
    font-weight:bold;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.jacket-text{
    font-family: 'Lato',sans-serif;
    font-size:2vw;
}

#cover {
	position: absolute;
	top: 75%;
	width: 100%;
}

.title-simple {
	color: $rose;
}

.round {

	margin-bottom: 10px;
	border-radius: 50%;
	border: black;
	align-items: center;
	justify-content: center;
}


// FIN ACCUEIL

#annonce {
	//border-radius: 10px ;
	//border: solid 1px $rose;
	background-color:white;
    box-shadow: 2px 2px 2px 2px #aaa;
	//margin-top: 10px;
}

#annonce_avatars{
	min-height: 150px;
	border-radius: 50%;
	background-color: #bdbdbd;
}

.thumbnail_notif {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.thumbnail1 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.thumbnail2 {
	border-radius: 50%;
	height: 140px;
	width: 140px;
}

.thumbnail_show {
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.thumbnail3{
	border-radius: 50%;
	height: 130px;
	width: 130px;
}

.avatar_occupe {
	font-size: 2em;
	color: $rose;
}

.avatar_libre {
	font-size: 2em;
	color: $bleu;
}

.link_to {
	color:white;
}

.btn-link {
	color:white;
}

.show_pastille {
	color:white;
	background: $rose;
	border-radius: 10px;
	border: $rose;
	height: 50px;
	align-items:center;
}

.show_pastille_speciale {
	color:white;
	background: $rose;
	border-radius: 10px 10px 0 0;
	border: $rose;
	height: 50px;
	align-items:center;
}

#my_tab {

	li a {
		color:white;
	}

	a.active {
		background-color: $rose;
	}

	a:focus {
		background-color: $rose;
	}

}

.macheckbox {
   transform: scale(1.5);
}

#btn_active {
	input.active {
		background-color: $turquoise;
	}
}

.submit_tag_rose {
	background-color: $rose;
	color: white;
	border: none;
}

.submit_tag_bleu {
    background-color: $bleu;
    color: white;
    border: none;
}

/*  FOOTER  */

.footer {
	background-color: $rose;
	position: absolute;
	bottom:0px;
	height:150px;
	ul li {
		display: inline;
		padding-left: 50px;
	}
	a{
	color:white;
	}
}

.suscribe-footer{
    top:-40px;
    width: fit-content;
    a{
    border-radius:25px;
    padding:10px;
    background-color: rgb(255,184,79);
    }
}

.icones-title{
    max-height: 40px;
}

/* ADDITIVES MEDIA */
@media (min-width: 1200px) {
    .form-pic{
        height:100%;
    }
}

/* DEVENIR PROFESSEUR */

.box-icones{
    max-height: 80px;
    max-width: 80px;
}
.prof-flex{
    min-height: 100px;
    border: 1px solid gainsboro;
}
.prof-flex-title{
    color:rgb(238,97,131);
}

.prof-flex-icon{
    font-size: 40px;
    padding:15px;
    border-radius: 50%;
    color:rgb(238,97,131);
    border:rgb(238,97,131) 1px solid;
}
.prof-avatar{
    border-radius:50%;
    max-width:150px; 
}
.icones{
    height:65px;
}
.icones_prof{
    height:60px;
}
.iconespetits{
    height:45px;
}
.join-btn{
    border-radius: 25px;
    color:white;
}

.test{
    min-height: 50%;
}

/* GUIDE STRIPE */

.ico-plus{
    width: 100px;
    height:100px;
}
.ico-right{
    width: 100px;
    height:100px;
}
.ico-infos{
    width: 20px;
    height:20px;
}

.infos li{
    list-style-type: none;
}

/* PAIEMENT */
body, html{
    display: block;
    position:absolute;
    height: 100%;
    width: 100%;
    margin:0;
}
body{
    padding-top: 56px;
}

.col{
    margin:0px;
    padding: 0px;
}


/*  CONTENT */

section{
    min-height:100%;
    width: 100%;
}

.avatar{
    height:100px;
}
.block-avatars{
    max-height: 200px;
    border-bottom: #868e96 3px solid;
}
.block-eleve{
    height:90px;
    overflow: hidden;
}

.box-prix{
    border:3px solid rgb(238,97,131);
}
.logo-prix{
    height:50px;
}
.prix{
    background-color: rgb(238,97,131);
    border-bottom-left-radius: 35%;
    border-top-left-radius: 35%;
}

.fa-circle{
    color: rgb(255,184,79);
    padding-right: 4px;
}
li{
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.input-paiement{
    background-color: rgb(238,97,131);
    border:none;
    padding: 20px 60px;
    border-radius: 35px;
    color:white;
    cursor: pointer;
}

.gcu-style::after{    border: 3px solid rgb(238,97,131);
    background: #f5c6cb;
    cursor: pointer;
}

a:hover,input[type=submit]:hover{
    text-decoration: none;
    color:#007bff;
}
 
/* QUI SOMMES NOUS ? */

.Button:hover {
    background-color:#eb675e;
}
.Button:active {
    position:relative;
    top:1px;
}
#carouselTeam{
    width:200px;
}
.img-valeur{
    height: 250px;
}
.avatar{
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.team-bloc{
    margin-left:1.5rem;
    margin-right:1.5rem;
    margin-bottom: 2rem;

    max-height: 200px;
}
.quadran{
    max-height:400px;
}

.img-quadran{
    width:340px;
    height:175px;
}

.quadran-btn{
    max-height:40px;
    color:white;
}

/* Notifications */

.unread {
  border-left: 3px solid red;
  background-color:rgb(252,98,112);
}
