<div class="row mt-5">
	<div class="col-6">
		<p>TOKEN</p>
		<%= @token %>
		<p>City</p>
		<%= @city %>
	</div>
</div>

<script src="https://js.stripe.com/v3/" >
    const stripe = Stripe('pk_test_ASDjZ5YjaloarUT7uNfpysZy');
    const myForm = document.querySelector('.my-form');
    myForm.addEventListener('submit', handleForm);

    async function handleForm(event) {
      event.preventDefault();

      const result = stripe.createToken('account', {
        legal_entity: {
          first_name: document.querySelector('.inp-first-name').value,
          last_name: document.querySelector('.inp-last-name').value,
          address: {
            line1: document.querySelector('.inp-street-address1').value,
            city: document.querySelector('.inp-city').value,
            state: document.querySelector('.inp-state').value,
            postal_code: document.querySelector('.inp-zip').value,
          },
        },
        tos_shown_and_accepted: true,
      });

      if (result.token) {
        document.querySelector('#token').value = result.token.id;
        myForm.submit();
      }
    }
</script>