
<%=form_tag "/charges/custom_connect", class:"my-form mt-5", method:"post"  do %>
  <input type="hidden" name="token" id="token">
  <input type="hidden" name="test" id="test">
  <label>
    <span>First Name</span>
    <input class="inp-first-name" name="first_name">
  </label>
  <label>
    <span>Last Name</span>
    <input class="inp-last-name" name="last_name">
  </label>
  <fieldset>
    <legend>Address</legend>
    <label>
      <span>Street Address Line 1</span>
      <input class="inp-street-address1" name="street_address1">
    </label>
    <label>
      <span>City</span>
      <input class="inp-city" name="city">
    </label>
    <label>
      <span>State</span>
      <input class="inp-state" name="state">
    </label>
    <label>
      <span>Postal Code</span>
      <input class="inp-zip" name="zip">
    </label>
  </fieldset>

<p>By clicking, you agree to <a href="#">our terms</a> and the <a href="/connect-account/legal">Stripe Connected Account Agreement</a>.</p>

      <button type="submit" class=" btn bg-orange mt-1" style="color:white; min-width: 200px;">Submit</button>
<%end%>


<script src="https://js.stripe.com/v3/">

const stripe = Stripe('pk_test_ASDjZ5YjaloarUT7uNfpysZy');
const myForm = document.querySelector('.my-form');
myForm.addEventListener('submit', handleForm);

async function handleForm(event) {
  event.preventDefault();

  const result = await stripe.createToken('account', {
    legal_entity: {
      first_name: document.querySelector('.inp-first-name').value,
      last_name: document.querySelector('.inp-last-name').value,
      address: {
        line1: document.querySelector('.inp-street-address1').value,
        city: document.querySelector('.inp-city').value,
        state: document.querySelector('.inp-state').value,
        postal_code: document.querySelector('.inp-zip').value,
      },
    },
    tos_shown_and_accepted: true,
  });

  if (result.token) {
    document.querySelector('#token').value = result.token.id;
    myForm.submit();
  }
}

</script>