<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <!--
  	<div class="row justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center" style="max-height: 200px">     
          <img src="https://marketing-image-production.s3.amazonaws.com/uploads/6f63685a621f85eacb055da5a7b9abcb171c52133ebda6a6da33609a7960933d2cb7bbfc4aa9de3b3009ec847fe2af0f391b3560a89798b932ef6b95f99da8c3.png", class="img-fluid">
        </div>
      </div>
    </div>
  -->
    <div class="row">
      <div class="col-12">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
