<html><body style="background-color:#f7f7f7;font:11px Helvetica, Arial, sans-serif;color:#000000;"><p style="background:#f7f7f7;font:11px Helvetica, Arial, sans-serif">
	
<div
style="background-color:#ffffff;width:100%;margin:0;padding:0;"><table
role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" ><tr><td><div
style="width:100%;min-height:700px;background: #f5f6f6 url('https://www.superprof.fr/images/mailing/gradient.png') top repeat-x;text-align:center;"><table
style="width:100%"><tr><td
colspan="3" align="middle" height="124px">
<a
style="text-decoration:none;" href="https://www.topnote.fr">
<img
width="130px" height="40px" src="logo_rose.png" />
</a></td></tr><tr><td
width="10px">&nbsp;</td><td>
<div
style="max-width:740px;min-width:270px;min-height:500px;margin:0 auto;padding:60px 20px;background-color:#ffffff;border-radius:4px;  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.11);margin-bottom:50px;"><table
width="100%"><tr><td><table
style="max-width:560px;border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto;" cellspacing="0" cellpadding="0" width="100%" border="0" align="center">
<tr><td
style="font-size:0;padding:10px 0" valign="top"><h3 style="font-size:30px; font-family: OpenSans, sans-serif;font-weight: bold;text-align:center;">SAJID, vous souhaitez réinitialiser votre mot de passe ?</h3></td></tr>
<tr>
	<td
align="center" style="font-size:16px;line-height:25px;font-family: OpenSans, sans-serif;color:#393939"><div style="width:100%"><center><div style="clear:both;width:160px;height:160px;"></div></center></div></a><br />
<br />
Vous nous avez indiqué avoir oublié votre mot de passe. Si c’est vraiment le cas, cliquez ici pour en choisir un autre :<br />
<br />
<center>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background:#fa6484;color:#ffffff;font-size:13px; font-family: OpenSans, sans-serif;font-weight:bold;">

						CORRRRRPS


				</tr>
			</table></center><br />
<br />
Si vous n’aviez pas l’intention de réinitialiser votre mot de passe, ignorez simplement cet e-mail, et votre mot de passe ne sera pas changé.<br />
<br />
</td></tr><tr><td
align="center" valign="bottom" height="70px"></td></tr><tr><td
align="center" style="font-size:13px; font-family: OpenSans, sans-serif;line-height:1.54;color:#393939;">
TopNote - Seul on va vite, ensemble on va loin</td></tr><tr><td
align="center" style="font-size:10px; font-family: OpenSans, sans-serif;line-height:2;color:#393939;">
L'équipe TopNote</td></tr><tr><td
align="center" valign="bottom" height="30px"><div
style="height:1px;width:100%;background:#d8d8d8"></div></td></tr><tr><td
align="center" height="40px" valign="bottom" style="font-size:10px; font-family: OpenSans, sans-serif;line-height:2;color:#393939;">

<a
href="https://www.facebook.com/Topnote.fr/"><img
width="18px" height="20px" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png" /></a>
</td></tr><tr><td
align="center" valign="bottom" style="font-size:13px; font-family: OpenSans, sans-serif;line-height:2;color:#393939;">
<a
href="mailto:contact@Topnote.fr" style="padding:5px;text-decoration:none;color:#999999">Topnote.fr</a></td></tr>
</table></td></tr></table></div></td><td
width="10px">&nbsp;</td></tr></table></div></td></tr><tr><td
colspan="3" align="center" style="background:#f5f6f6"><div
style="max-width:740px;min-width:270px;margin:0 auto;font-size:10px; font-family: OpenSans, sans-serif;color:#a0a0a0;background:#f5f6f6">
TopNote - Seul on va vite, ensemble on va loin
/><br
/></div></td></tr><tr><td
colspan="3" height="40px" style="background:#f5f6f6">&nbsp;</td></tr>
</table></div></p><br /><br /><br />
<br/>
</body></html>
