<p>Bonjour,</p>

<p>Bienvenue sur TopNote :)</p>
<p>Pour valider la création de ton espace personnalisé et pouvoir réserver ton premier cours, tu as juste à cliquer sur le lien ci-dessous : </p>
<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Si tu as des questions ou besoin d’aide, Margot, Ines, Arthur, ou Kevin se fera le plaisir de te répondre dans la journée.</p>

<p>N’hésite pas à nous suivre sur <a href="https://www.facebook.com/topnote.fr/">Facebook</a> ou <a href="https://www.instagram.com/topnote.fr/">Instagram</a>, nous sommes très actifs et répondons à toutes vos questions sur l’orientation, l’actualité ou encore la préparation des examens.</p>

<p>À très bientôt,</p>

<p>L’équipe de TopNote.</p>