<p style="color: #000000;">Bienvenue sur TopNote :)</p>
<p style="color: #000000;">Pour valider la création de ton espace personnalisé et pouvoir réserver ton premier cours, tu as juste à cliquer sur le lien ci-dessous : </p>
<p style="color: #000000;"><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>



